# Secretos y Configuración Local (LO MÁS IMPORTANTE)
.env
*.env
.venv/
env/
venv/
ENV/
.streamlit/



# Python - Archivos temporales de ejecución
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# OS - Archivos del sistema
.DS_Store
Thumbs.db